# ===== Keil MDK =====
*.uvguix.*
*.scvd
*.crf
*.d
*.o
*.depend
*.axf
*.htm
*.lnp
*.sct
*.dep
*.iex
*.lst
*.map
*.build_log.htm
JLinkLog.txt
JLinkSettings.ini
Objects/
Listings/
RTE/
DebugConfig/

# ===== 通用编辑器/IDE =====
.vscode/
.idea/
*.swp
*.swo
*~

# ===== 操作系统 =====
.DS_Store
Thumbs.db
Desktop.ini
